* {
	margin: 0;
	box-sizing: border-box;
}

ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

input {
	border: none;

	&:focus {
		outline: none;
	}
}

button {
	border: none;
	cursor: pointer;
	font-family: inherit;
}

address {
	font-style: normal;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

textarea {
	resize: none;
}

body {
	font-family: "Montserrat";
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	background-image: url("/src/img/body-bg-mob.jpg");

	@include tab(768px) {
		background-image: url("/src/img/body-bg-tab.jpg");
	}

	@include desk(1280px) {
		background-image: url("/src/img/body-bg-desk.jpg");
	}
}
