* {
	margin: 0;
	box-sizing: border-box;

	transition: 300ms;
}

ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

input {
	border: none;

	&:focus {
		outline: none;
	}
}

button {
	border: none;
	cursor: pointer;
	font-family: inherit;
}

address {
	font-style: normal;
}

img {
	display: block;
	max-width: 100%;
}

textarea {
	resize: none;
}

body {
	font-family: "Montserrat";

	background-image: url("/src/img/body-bg-mob.jpg");

	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;

	@include tab(768px) {
		background-image: url("/src/img/body-bg-tab.jpg");
		background-size: cover;
	}

	@include desk(1280px) {
		background-image: url("/src/img/body-bg-desk.jpg");
		background-size: cover;
	}
}

.error {
	font-family: inherit;
	color: $accent;
	font-size: 24px;
	font-weight: 900;
	line-height: 100%;
	letter-spacing: 0%;
	text-align: center;
	margin: 0 auto;
}
