.event-list-item {
	width: 200px;
	height: 300px;
	border-radius: 8px;
	padding: 8px;
	flex-direction: column;
	align-items: center;
}

.event-list-leaf {
	border: 1px solid #dc56c54d;
	border-radius: 50px 0;
	width: 108px;
	height: 101px;
	@include tab(768px) {
	}
}

.event-list-img {
	width: 180px;
	height: 227px;
	gap: 5px;
	border-radius: 50px 0;
}

.event-list-title {
	@include typography(inherit, 700, 16px, 100%, 0%, center);
	color: #dc56c5;
}

.event-list-location {
	@include typography(inherit, 400, 16px, 100%, 0%, center);
	color: #fff;
}

.event-list-date {
	@include typography(inherit, 600, 16px, 100%, 0%, center);
	color: #fff;
}

@include tab(768px) {
}
