.container {
	margin: 0 auto;

	border-left: 1px solid $dgrey;
	border-right: 1px solid $dgrey;

	width: 280px;

	@include tab(768px) {
		width: 610px;
	}

	@include desk(1280px) {
		width: 1050px;
		padding: 58px;
	}
}
