.pagination-section {
	padding-top: 60px;
	padding-bottom: 60px;

	.pagination {
		width: 233px;
		margin: 0 auto;

		@include flex(_, center, 5px, _, _);

		.page-btn,
		.page-btn-dots {
			width: 30px;
			height: 30px;
			background-color: transparent;

			@include flex(center, center, _, _, _);

			color: #ffffff;

			@include typography(inherit, 400, 16px, 100%, 0%, center);

			&.active {
				color: $accent;
				border: 1px solid $accent;
				border-radius: 10px 0;
			}
		}

		.page-btn-dots {
			pointer-events: none;
		}
	}

	@include desk(1280px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
