.footer {
	margin: 0 auto;
	padding: 16px;
}

.desc-footer {
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: $lgrey;
	max-width: 252px;

	@include tab(768px) {
		max-width: none;
	}
}

.footer-heart {
	color: red;
}
